* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
:root{
    --dark_collor: #000;
    --lite_collor: #eee;
    --red_color: #FF0000;
    --light_red: #FFCCCB;
    --dark_collor_text: #000;

}
body {
    background-color: #808080;
    scroll-behavior: smooth;
}
.text_about{
    text-align: center;
    margin-top: 10rem;
}
.text-center {
    text-align: center;
}
.text_dark{
    color: var(--dark_collor_text)
}

.price {
    font-size: 2rem;
    padding: 2rem 0;
}
.tect_main{
    color: #ffffff;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: #1d1d28;
    padding: 1rem 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    font-weight: 700;
    transition: all linear 0.3s;
}

.nav-link:hover {
    border-bottom: 5px solid #e41051;
}

#about {
    margin-top: 10rem;
}

#pricing {
    margin-top: 10rem;
}

.products {
    display: grid;
    grid-template-columns: 30rem 30rem;
    column-gap: 10rem;
    margin: auto;
    justify-content: center;
}

.product {
    border: none;
    padding: 2rem;
    color: white;
    border-radius: 30px;
    cursor: default;
    font-size: 1.1rem;
}

.heading-1 {
    padding: 2rem 0;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
h2 {
    padding: 1rem 0;
    font-weight: 700;
}

.icons {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.icon {
    display: flex;
    padding: 0.5rem 0;
    font-weight: 700;
}

.icon i {
    padding-right: 1rem;
    font-size: 1.5rem;
}
.product:nth-of-type(1) {
    background: var(--light_red) ;
}

.product:nth-of-type(2) {
    background: var(--red_color);

#videa {
    border: 1px solid black;
    height: 30rem;
    width: 50rem;
    display: block;
    margin: 10rem auto;

}

.heading-1:nth-of-type(1) {
    margin-top: 3rem;
}

.buy-product {
    border-radius: 5px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.buy-products {
    display: grid;
    grid-template-rows: 25rem;
    grid-template-columns: 25rem 25rem;
    column-gap: 10rem;
    justify-content: center;

}

.buy-product:nth-of-type(1) {
    border: 10px solid purple;
}

.buy-product:nth-of-type(2) {
    border: 10px solid orange;
}

.buy-product p {
    font-weight: 700;
}

.button {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 2rem;
    padding: 0.8rem 0;
    text-decoration: none;
}

.button.purple {
    background: linear-gradient(45deg, #770577 25%, #0808c0);
}

.button.orange {
    background: linear-gradient(45deg, #c0520c, #e8c306)
}

.button i {
    padding: 0 1rem 0 0;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#email {
    height: 4rem;
    width: 30rem;
    background-color: transparent;
    border: 5px solid purple;
    color: white;
    outline: none;
    transition: all ease-out 0.2s;
    padding: 0 1rem;
}

#email:focus {
    border: 5px solid orange;
}

#submit {
    display: block;
    width: 12rem;
    height: 3.5rem;
    margin: 2rem auto;
    background-color: transparent;
    border: 5px solid purple;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all ease-out 0.2s;
}

#submit:hover {
    border: 5px solid orange;
}





#services {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#services .heading-1 {
    margin: 3rem 5rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

#footer {
    margin-top: 5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

#footer a {
    color: #000000;
}

