*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
 }

.container{
    width: 100vw;
    height: 100vh;
    background: url(jackson-hendry-eodA_8CTOFo-unsplash.jpg)no-repeat center center/cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
    color: white;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.redcolor{
    color: red;
}
/*Button*/

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0,4s;
    cursor: pointer;
 }
 .button1{
    background-color: white;
    color: black;
    border: 2px solid red;
 }
 .button1:hover{
    background-color: red;
    color: white;
 }

 /*Photos*/
 .containers {
  position: relative;
  width: 30%;


  
}

.image {
  width: 100%;
  object-fit: cover;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0px;

  left: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containers:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
}
.imgmale{
    height: 250px;
    padding: 10px;
}
.h2{
    padding: 20px;
}