
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
#1h{
    text-align: center;
}
#logo{
    font-size: large;
    font-weight: bold;
}
.text-primary{
    color: red;
}

.text-center{
    text-align: center;
}
p{
    margin: 0.75rem 0;
}
.py-1{padding: 1.5rem;}
.py-2{padding: 2.5rem;}
.py-3{padding: 3.5rem;}

a {

}
#navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    position: -webkit-sticky;
    margin:0;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;

}
#navbar a{
    color: #fff;
    text-decoration: none;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
   background-color: red;
    border-radius: 4px;
}
#navbar{
    position: sticky;

}
#showcase {
    background: url("../img/uvodniStrana.jpeg");
    height: 80vh;
    width: 100%;

}
#showcase .showcase-content{
    display:flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding:0 2rem;

}

#showcase .showcase-content .l-heading{
    color: white;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    letter-spacing: 1rem;

}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color:orange;
}

.btn{
    display: inline-block;
    color: #fff;
    background-color: red;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: red;
}
.secours{

}
<!---->
.box{
    display: flex;
    text-align:center ;
}
.box i{
   display: flex;
    text-align: center;
}
.container{
    width: 1100px;
    background-color: darkseagreen;
    margin: auto;
    padding: 0 2rem;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}
/*o nas*/
#about .items{
    display: flex;
    padding: 1rem;
}
#about .item{
    text-align:  center;
    padding: 1rem;
}
#about .items .item i{
    background: red;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;

}
/* Footer*/
#main-footer{
    text-align: center;
    padding: 20px;
}
