
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
#1h{
    text-align: center;
}
#logo{
    font-size: large;
    font-weight: bold;
}
.text-primary{
    color: red;
}

.text-center{
    text-align: center;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2.5rem 0;}
.py-3{padding: 3.5rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2.5rem;}
.p-3{padding: 3.5rem;}

.m-1{margin: 1.5rem;}
.m-2{margin: 2.5rem;}
.m-3{margin: 3.5rem;}

#navbar {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    margin:0;
    z-index: 2;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;

}
#navbar a{
    color: #fff;
    text-decoration: none;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navbar ul li a{
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
   background-color: red;
    border-radius: 4px;
}
#navbar{
    position: sticky;

}
#showcase {
    background: url("../img/uvodniStrana.jpeg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;

}
#showcase .showcase-content{
    display:flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:0 2rem;

}

#showcase .showcase-content .l-heading{
    color: white;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    letter-spacing: 1rem;

}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: white;
}

.btn{
    display: inline-block;
    color: black;
    background-color: red;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: red;
}
.secours{

}
<!---->
.box{
    display: flex;
    text-align:center ;
}
.box i{
   display: flex;
    text-align: center;
}
.container{
    width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;


}
/*o nas*/
#about .items{
    display: flex;
    padding: 1rem;
}
#about .item{
    text-align:  center;
    padding: 1rem;
    flex: 1;
}
#about .items .item i{
    background: red;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}
/*seznam*/
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.bg-dark{
    background-color: #333333;
    color:#fff;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #aaa dotted 1px;
}
#projekt{
    display: flex;
}
#projekt div{
    flex:1;
}
#projekt .projet-img{
    background: url("https://source.unsplash.com/random/?fire") center;
}

/* Obrázky */
#images .items{
    display:flex;
    justify-content: space-between
}
#images .items img{
    display: block;
    margin: auto;
    width: 80%
}
/* dotazník */
#contact {
    display:flex;

}
#contact div{
    flex: 1;

}
#contact .contact-form .form-group{
    margin: 0.75rem;

}
#contact .contact-form label{
    display:block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width:100%;
    padding: 0.4rem;
}
.m-head{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
    background-color: red;

}

/* Footer*/
#main-footer{
    text-align: center;
    padding: 20px;
}